.form-input {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.form-input > input {
  width: 100%;
  padding: 10px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  font-size: 0.9em;
  border: none;
  border-bottom: 2px solid #202530;
  color: #4ddbe0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: transparent;
  outline: none;
  border-radius: 0;
  caret-color: white;
}
.form-input > input:focus {
  border-bottom: 2px solid rgb(133, 102, 102);
  color: black;
}
.form-input > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5082dd;
  opacity: 1; /* Firefox */
}
