.form-section,
.buttons-container {
  display: flex;
  border: none;
  margin: 0 auto;
  padding: 0;
  width: 85%;
  max-width: 100%;
  gap: 20px;
  flex-direction: column;
  border-top: 5px solid;
  padding-top: 30px;
  padding-bottom: 20px;
}
